body {
    color: #212121;
    background-color: #E0E0E0;
}

#version {
    color: #0288D1;
}

#titlePanel {
    background-color:#212121;
    color:#f5f5f5;
    border: 2px solid #000000;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #c4c4c4;
}

.convertPanel{
    background-color:#f5f5f5;
    color:#212121;
    border: 2px solid #000000;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #c4c4c4;
}

#cvtFromTx {
    padding: 5px;
    color:#212121;
    background-color:#f5f5f5;
    border-style:solid;
    border-color: #616161;
    border-width:0px;
    border-bottom-width: 1px;
    box-shadow: 0px 0px 0px #c4c4c4;
    width: 200px;
    float:left;
}

.drop{
    float: none;
    position:absolute;
    background-color:#f5f5f5;
}

.dropBtn{
    width:110px;
    height:24px;
    color:#f5f5f5;
    background-color:#616161;
    border-style:solid;
    border-color:#212121;
    border-width:1px;
    box-shadow: 2px 2px 6px #c4c4c4;
}

.dropBtn:hover{
    width:110px;
    height:24px;
    color:#f5f5f5;
    background-color:#424242;
    border-style:solid;
    border-color:#212121;
    border-width:1px;
    box-shadow: 4px 4px 6px #c4c4c4;
}

#leftSide{
  background-color: #FF0000;
}

.dropz{
    vertical-align: middle;
    color:#212121;
    background-color:#f5f5f5;
    border-style:solid;
    border-color:#212121;
    border-width:0px;
    width:110px;
    min-height: 30px;
    border-bottom-width: 0.1px;
    display: block;
}

.dropz:hover{
    vertical-align: middle;
    color:#212121;
    background-color:#BDBDBD;
    border-style:solid;
    border-color:#212121;
    border-width:0px;
    width:110px;
    min-height: 30px;
    border-bottom-width: 0.1px;
}

#equal {
  vertical-align:middle;
  font-weight:bold;
}

#result{
  width: 200px;
  float:right;
}

#calc{
    background-color:#1976D2;
    color:#f5f5f5;
    border:2px solid #f5f5f5;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    width:100%;
    box-shadow: 2px 2px 6px #c4c4c4;
}

#calc:hover{
    background-color:#0288D1;
    color:#f5f5f5;
    border:2px solid #f5f5f5;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    width:100%;
    box-shadow: 6px 6px 6px #c4c4c4;
}

#pageDiv {
    max-width: 800px;
}

#outerPage {
  width: 100%;
}

/* #type {
  display: inline;
} */

#typeBtn{
  display: block;
}
#typeDrop{
  vertical-align:middle;
  /* float: right;
  display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  left:50%;
  margin-left: -55px;

}
#dropPanel{
  float:left;
}
#dropPanel2{
  float:right;
}
#exchTo{
  vertical-align:middle;
  font-weight:bold;

}

#selectME{
  margin-top: 20px;
}

table {
    width:100%;
}

td{
    width:50%;
}
